root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# validated by spotless
#[*.java]
#indent_style = space
#indent_size = 4
#trim_trailing_whitespace = true
#max_line_length = 120

[*.ts]
indent_style = space
indent_size = 4
max_line_length = 120

[{*.yaml,*.yml}]
indent_style = space
indent_size = 2

# ignore for assets
[/assets/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
indent_style = unset
indent_size = unset
tab_width = unset
trim_trailing_whitespace = unset
max_line_length = unset
