http:
  routers:
    formula-ap1-api-v0:
      service: formula-ap1-api-v0
      # Only allow get requests but not /teamsOfSeasons
      rule: >- 
        Host(`{{ docker_compose_api_host }}`) &&
        Method(`GET`) &&
        PathPrefix(`/v0`) &&
        !PathPrefix(`/v0/teamsOfSeasons`)
      middlewares:
        - formula-ap1-api-v0-rate-limit-single
        - formula-ap1-api-v0-max-connections-single-client
        - formula-ap1-api-remove-version-prefix
        - formula-ap1-api-cors

  middlewares:
    formula-ap1-api-remove-version-prefix:
      stripPrefixRegex:
        regex:
          - "\\/v(\\d)+"

    formula-ap1-api-cors:
      headers:
        accessControlAllowOriginList:
          - "*"

    formula-ap1-api-v0-rate-limit-single:
      # Uses Token Bucket Algorithm
      # Single client/IP can do 7 requests/s
      rateLimit:
        average: 7
        period: 1s
        burst: 0

    #formula-ap1-api-ban-clients:
    #  # Ban clients with more than 500 requests/h for 1h
    #  plugin:
    #    fail2ban:
    #      whitelist:
    #        ip:
    #          - "::1"
    #          - "127.0.0.1"
    #      rules:
    #        findtime: 1h # Period
    #        maxretry: 500 # Amount of requests
    #        bantime: 1h
    #        enabled: true # Enable plugin

    #formula-ap1-api-max-connections:
    #  # Server will handle 100 connections at time
    #  inFlightReq:
    #    amount: 100
    #    sourceCriterion:
    #      requestHost: true

    formula-ap1-api-v0-max-connections-single-client:
      # Single client/IP can have 3 connections at a time
      inFlightReq:
        amount: 3
        sourceCriterion:
          ipStrategy:
            depth: 0

  services:
    formula-ap1-api-v0:
      loadBalancer:
        servers:
          - url: "http://api-v0:8080"
