global:
  sendAnonymousUsage: false

entryPoints:
  http:
    address: :80
    http:
      # Redirect HTTP to HTTPS
      redirections:
        entryPoint:
          to: https
          scheme: https

  https:
    address: :443
    http:
      # Default TLS config for all routers that listen to this entrypoint
      # Certificates are issued for hosts in the host rule of the routers
      tls:
        certResolver: acme

certificatesResolvers:
  acme:
    acme:
      # caServer: https://acme-staging-v02.api.letsencrypt.org/directory # ACME Test Server
      keyType: 'EC384'
      # File in which the certificates are saved
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: http

# Use config file to define dynamic configuration
providers:
  file:
    filename: /etc/traefik/traefik-dynamic-config.yml
    watch: true # Watch for config changes

# Traefik logging config
log:
  level: ERROR
  filePath: /var/log/traefik/log.txt
  format: json

# Requests logging config
accessLog:
  filePath: /var/log/traefik/accessLog.txt
  format: json
  bufferingSize: 100 # See https://doc.traefik.io/traefik/observability/access-logs/#bufferingsize

{% if docker_compose_profile == "dev" %}
# Traefik API configuration
# Disable in production
api:
  insecure: true
  dashboard: true
{% endif %}

#experimental:
#  plugins:
#    fail2ban:
#      moduleName: "github.com/tomMoulard/fail2ban"
#      version: "v0.7.1"
